[MASTER]
disable=
    missing-docstring,
    invalid-name,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    too-many-statements,
    too-many-branches,
    too-many-return-statements

[FORMAT]
max-line-length=88

[MESSAGES CONTROL]
extension-pkg-whitelist=numpy,pandas

[STRING]
check-str-convention=yes